ul a li{
    list-style: none;
    text-align: end;
    margin: 2em;
    display: inline-block;
}
a{
    text-decoration: none !important;
   
}
.jumbotron h1{
    background-image: url('../images/WoodFiredPizza-350x270.jpg');
    height: 30vh;
}
#cart{
    text-align: center;
}